<!DOCTYPE html>
<html>
  <head>
    <title>Patrick and Christine's Wedding</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/lib/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      window.socket = io.connect('<%= hostAddress %>');
    </script>
  </head>
  <body>
    <h1>Patrick and Christine's Wedding</h1>
    <p>Welcome to the Site!</p>

  </body>
</html>