<!DOCTYPE html>
<html>
  <head>
    <title>Patrick and Christine's Wedding</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Patrick and Christine's Wedding</h1>
    <p>Welcome to the Site!</p>
    <form name="input" action="/login" method="post">
      Username: <input type="text" name="username">
      Password: <input type="password" name="password">
      <input type="submit" value="Submit">
    </form>

  </body>
</html>